* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    width: 100%;
    height: auto;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;

}

.one {
    width: 100%;
    height: 100%;
    border: 2px solid rgb(255, 255, 255);
}

/* .two {
    width: 50%;
    height: 100%;
    border: 2px solid black;
} */

.top {
    width: 100%;
    height: 30px;
    ;
    background-color: green;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40%;








}

.i {
    color: aliceblue;
    font-size: 14px;

}

.i:hover {
    background-color: rgb(245, 248, 245);
    color: green;
}

.loc {
    color: aliceblue;
    font-size: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}


.nav {

    width: 100%;
    height: 50px;
    /* border: 2px solid rgb(4, 15, 3); */
    display: flex;
    justify-content: space-around;
    align-items: center;
    

    
   
}

.fa-tree {
    font-size: 25px;
    color: green;
}

.tree {
    font-size: 22px;
    color: green;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
}.nav .fa-bars{
    display: none;
}

.navbar a {
    /* border: 2px solid black; */
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    color: green;
    font-size: 14px;
    /* padding-top: 2px; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    transition: 0.40s;
}

.navbar a:hover {
    background-color: green;
    color: aliceblue;
}

.fa-cart-shopping,
.fa-magnifying-glass,
.fa-user {
    font-size: 20px;
    padding: 10px;
    color: green;
    border: 2px solid green;
    border-radius: 10px;
}

.fa-cart-shopping:hover {
    background-color: green;
    color: aliceblue;

}

.fa-magnifying-glass:hover {
    background-color: green;
    color: aliceblue;
}

.fa-user:hover {
    background-color: green;
    color: aliceblue;
}

.sec {


    width: 100%;
    height: 220px;

    background-image: url(./imgage/4.webp);
    background-size: cover;

    /* background-position: top; */
    /* padding-left: 15px; */
    background-position: top;
    /* padding-top: 20px; */
    transition: 1s;
    



}

.sec:hover {


    width: 100%;
    height: 220px;

    background-image: url(./imgage/4.webp);

    background-position: center;
    /* padding-left: 15px; */
    padding-top: 20px;



}

.h5 {
    color: rgb(0, 0, 0);
    font-size: 27px;
   padding-top: 30px;
   margin-left: 30px;

}

.btn1 {
    background-color: green;
    color: rgb(241, 244, 247);
    height: 40px;
    width: 80px;
    border-radius: 10px;
}

.btn2 {
    background-color: rgb(252, 251, 255);
    color: green;
    height: 40px;
    width: 90px;
    border: 2px dashed green;
    border-radius: 10px;




}

.bu {


    width: 100%;
    padding-left: 33px;
    padding-top: 20px;

    display: flex;
    justify-content: start;
    gap: 25px;

}

.card3 {
    /* border: 2px solid black; */
    height: 50px;
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 40px;


}

.tra {
    border: 2px dashed green;
    width: 190px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.tra:hover {
    background: rgb(120, 255, 120);
}

.wall:hover {
    background: rgb(120, 255, 120);
}

.donate:hover {
    background: rgb(120, 255, 120);
}

.wall {
    border: 2px dashed green;
    width: 190px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.donate {
    border: 2px dashed green;
    width: 190px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.fa-truck-fast {
    font-size: 22px;
    color: green;
}


.fa-wallet {
    font-size: 22px;
    color: green;
}

.fa-hand-holding-dollar {
    font-size: 22px;
    color: green;
}

.maing {

    width: 100%;
    height: 300px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: start;
}

.grid {

    height: 250px;
    width: 650px;
    display: grid;
    gap: 10px;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "one one two three"
        "four five six six"


}

.item {
    background-color: rgb(254, 255, 255);
    border: 2px solid rgb(4, 143, 22);
}

.one1 {
    grid-area: one;
    background-image: linear-gradient(rgb(164, 164, 201), rgba(168, 215, 230, 0)), url(./imgage/bucket.jpg);
    background-size: contain;
    background-position: center;
}

.two2 {
    grid-area: two;


}

.three3 {
    grid-area: three;
}

.four4 {
    grid-area: four;
}

.five5 {
    grid-area: five;
}

.six6 {
    grid-area: six;
}

.card3 .tra .h {
    font-size: 12px;
    font-weight: bold;
    color: black;
}

.wall .h {
    font-size: 12px;
    font-weight: bold;
    color: black;
}

.donate .h {
    font-weight: bold;
    color: black;
    font-size: 12px;
}

.main3 {
    /* border: 2px solid red; */
    width: 100%;
    height: 80px;

}



.main3 .newnav {
    /* border: 2px solid gray;  */
    /* padding-top: 15px; */

    width: 100%;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;

}

.main3 .newnav a {
    text-decoration: none;
    border: 2px solid rgb(241, 234, 234);
    /* padding-top: 15px; */
    font-size: 12px;
    width: 60px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: rgb(241, 239, 236);

}

.main3 .newnav a:hover {
    color: aliceblue;
    background-color: green;
}

.donate .h .pp {
    font-size: 10px;
    padding-top: 5px;
}

.wall .h .pp {
    font-size: 10px;
    padding-top: 5px;
}

.tra .h .pp {
    font-size: 10px;
    padding-top: 5px;
    /* padding-right: 10px; */
}

.donate .h {
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.wall .h {
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tra .h {
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.one1 {
    background-image: url(./imgage/sarah-dorweiler-x2Tmfd1-SgA-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.two2 {
    background-image: url(./imgage/nikolai-chernichenko-oyr64kMIz98-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.three3 {
    background-image: url(./imgage/galina-n-miziNqvJx5M-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.five5 {
    background-image: url(./imgage/nikolai-chernichenko-oyr64kMIz98-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.four4 {
    background-image: linear-gradient(rgb(5, 53, 17), rgba(21, 218, 87, 0)), url(./imgage/gaelle-marcel-yO9ZVNFbpao-unsplash.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.six6 {
    background-image: url(./imgage/4.webp);
    background-position: start;
    background-size: cover;
    /* background-repeat: no-repeat; */
}

.pare {

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center
}

.mmm {
    /* border: 2px solid red; */
    width: 35%;
    height: 50%;
    text-align: center;

}

.ppp {
    font-size: 12px;
    padding-bottom: 2px;
}

.hhh {
    font-size: 19px;
    padding-bottom: 2px;
    font-weight: bolder;
}

.bbb button {
    width: 90px;
    height: 30px;
    background-color: green;
    color: aliceblue;

    border-radius: 10px;
}

.parent {

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center
}

.paren {

    width: 35%;
    height: 50%;
    text-align: center;

}

.pppp {
    font-size: 12px;
    padding-bottom: 2px;
}

.hhhh {
    font-size: 19px;
    padding-bottom: 2px;
    font-weight: bolder;
}

.bbbb button {
    width: 90px;
    height: 25px;
    background-color: green;
    color: aliceblue;

    border-radius: 10px;
}

.mainpara {

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainp {

    width: 70%;
    height: fit-content;
    text-align: center;
}

.p2 {
    font-size: 12px;
    font-weight: bold;
    color: aliceblue;
}

.h0 {
    font-size: 19px;
    font-weight: bolder;
    color: aliceblue;
}

.Main {
    width: 100%;
    height: 153px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    gap: 5%;
    margin-top: 50px;


}

.parentdiv {
    width: 100%;
    height: 120vh;
    border: 2px solid black;
}

.cards {
    /* border: 2px solid black; */
    width: 150px;
    height: 150px;
    background-color: aliceblue;
    box-shadow: 0px 0px 5px grey;


}

.para {
    font-size: 15px;
    padding-top: 5px;
    text-align: center;
    padding-right: 20px;
}

.headin {
    font-size: 28px;
    font-weight: bolder;
    text-align: center;
}

.cards .image img {
    width: 100%;
    height: 80px;
}

.Main2 {
    width: 100%;
    height: 153px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    gap: 5%;
    margin-top: 20px;

}

.name {
    font-size: 12px;
    font-weight: bold;
    padding-left: 3px;
    padding-top: 7px;
}

.star {
    padding-left: 3px;
    padding-top: 7px;
    font-size: 9px;
    color: gold;
}

.price {
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    width: 100%;
    height: 22px;
    align-items: end;
    gap: 42%;
}

.rs {
    font-size: 12px;
    padding-right: 5px;

}

.price .shopp .fa-cart-shopping {
    font-size: 15px;
    border-style: none;
    width: 6px;
    height: 3px;
    text-align: center;
    padding-left: 15px;


}

.button {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.button button {
    color: rgb(255, 255, 255);
    background-color: green;
    text-align: center;
    width: 120px;
    height: 30px;
    border-radius: 5px;

}

.mainend {
    /* border: 2px solid red; */
    width: auto;
    height:auto;
    margin-top: 20px;
    text-align: center;
    padding-top: 20px;
    background-color: rgb(221, 221, 221);
  

}

.end {
    width: 65%;
    height: 320px;
    /* border: 2px solid rgb(63, 5, 5); */
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    margin-left: 17%;

    align-items: center;
    border-radius: 10px;
    background: white;
    flex-wrap: wrap;
}

.mainend p {
    padding-top: 10px;
    font-size: 10px;
    font-weight: bold;
}

.mainend h1 {
    font-size: 32px;
}

.left,
.right {
    /* border: 2px solid red; */
    width: 380px;
    height: 280px;


}

.since {
    border-bottom: 2px solid rgb(2, 1, 1);
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-around;

}

.lorem {
    /* border: 2px solid rgb(110, 82, 82); */
    width: 100%;
    height: 80px;
    text-align: left;

    margin-top: 20px;

}

.piclast {
    /* border: 2px solid rgb(115, 255, 0); */
    width: 100%;
    height: 140px;
    margin-top: 10px;
    display: flex;
    justify-content: left;
}

.imgs {
    border: 2px solid rgb(252, 252, 252);
    width: 150px;
    height: 90px;
    border-radius: 10px;

}

.rev {
    /* border: 2px solid gray; */
    width: 200px;
    height: 90px;
    margin-left: 5px;
}

.imgs img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.rev .pa,
.pb,
.pc,
.pd {
    text-align: left;
    font-size: 12px;
    padding-top: 7px;
}

.fa-circle-check {
    color: green;
}.right img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}@media(max-width:910px){
    
.navbar a {
    /* border: 2px solid black; */
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    color: green;
    font-size: 14px;
    /* padding-top: 2px; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    transition: 0.40s;
    display: none;
}.h5 {
    color: rgb(0, 0, 0);
    font-size: 17px;

}.btn1 {
    background-color: green;
    color: rgb(241, 244, 247);
    height: 40px;
    width: 80px;
    border-radius: 10px;
}

.btn2 {
    background-color: rgb(252, 251, 255);
    color: green;
    height: 40px;
    width: 90px;
    border: 2px dashed green;
    border-radius: 10px;




}.top {
    width: 100%;
    height: 30px;
    ;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
   








}

.bu {


    width: 100%;
    padding-left: 30px;
    padding-top: 20px;

    display: flex;
    justify-content: start;
    gap: 25px;

}.nav {

    width: 100%;
    height: 50px;
    /* border: 2px solid rgb(4, 15, 3); */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 15%;
    /* box-shadow: 10px 10px 62px rgb(46, 68, 87); */
}

}@media(max-width:570px){.loc {
    color: aliceblue;
    font-size: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: none;

}.mainend {
    /* border: 2px solid red; */
    width: 100%;
    height: 550px;
    margin-top: 20px;
    text-align: center;
    padding-top: 20px;
    background-color: rgb(221, 221, 221);

}

.h5 {
    color: rgb(0, 0, 0);
    font-size: 17px;
  /* padding-right: 20px; */
 

}.btn1 {
    background-color: green;
    color: rgb(241, 244, 247);
    height: 40px;
    width: 80px;
    border-radius: 10px;
}

.btn2 {
    background-color: rgb(252, 251, 255);
    color: green;
    height: 40px;
    width: 90px;
    border: 2px dashed green;
    border-radius: 10px;




}.grid {
margin-top: 40px;
    height: 750px;
    width: 550px;
    display: grid;
    gap: 10px;

    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "one "
    "two"
    "three"
    "four"
    "five"
    "six"


}

.item {
    background-color: rgb(254, 255, 255);
    /* border: 2px solid rgb(4, 143, 22); */
}

.one1 {
    grid-area: one;
    background-image: linear-gradient(rgb(164, 164, 201), rgba(168, 215, 230, 0)), url(./imgage/bucket.jpg);
    background-size: contain;
    background-position: center;
}

.two2 {
    grid-area: two;
    


}

.three3 {
    grid-area: three;
}

.four4 {
    grid-area: four;
}

.five5 {
    grid-area: five;
}

.six6 {
    grid-area: six;
}

.card3 {
    /* border: 2px solid black; */
    height: 50px;
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    padding: 5px;
    gap: 10px;


}

.tra {
    border: 2px dashed green;
    width: 210px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

}.donate {
    border: 2px dashed green;
    width: 210px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

}.wall {
    border: 2px dashed green;
    width: 210px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}



}@media(max-width:485px){
.Main {
    flex-wrap: wrap;
    margin-top: 80px;
    padding-top: 30px;
    /* border: 2px solid black; */
    height: 60vh;
    width: auto;
}
.Main2{
    flex-wrap: wrap;
   
    padding-top: 30px;
    /* border: 2px solid black; */
    height: 60vh;
    width:auto;
}.para p{
    font-size: 12px;
}.mainend p{
    font-size: 9px;
}.since {
    border-bottom: 2px solid rgb(2, 1, 1);
    width: 200px;
    height: 20px;
    display: flex;
    justify-content: space-around;

}.since .si,.paso{
    font-size: 12px;
   padding-right: 20px;
   padding-top: 3px;
}.since.lorem{
    font-size: 9px;
}.end {
    width: 70%;
    height: 570px;
    /* border: 2px solid rgb(63, 5, 5); */
   
    display: flex;
    justify-content: center;
    

    align-items: center;
    border-radius: 10px;
    background: white;
    flex-wrap: wrap;
}.mainend {
    /* border: 2px solid red; */
    width: auto;
    height:auto;
    margin-top: 20px;
    text-align: center;
    padding-top: 20px;
    background-color: rgb(221, 221, 221);
  

}.end .lorem{
    font-size: 10px;
    font-weight: bold;
}.left,
.right {
    /* border: 2px solid red; */
    width: 250px;
    height: 280px;


}.rev {
    /* border: 2px solid gray; */
    width: 200px;
    height: 90px;
    margin-left: 5px;
}

.imgs img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.rev .pa,
.pb,
.pc,
.pd {
    text-align: left;
    font-size: 9px;
    padding-top: 10px;
}


   .card3 {
        /* border: 2px solid black; */
        height: 50px;
        width: 100%;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        padding: 5px;
        
        flex-wrap: wrap;
    
    
    }.tra {
        border: 2px dashed green;
        width: 310px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
       
    
    }.donate {
        border: 2px dashed green;
        width: 310px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
     
    
    }.wall {
        border: 2px dashed green;
        width: 310px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .grid {
        margin-top: 150px;
            height: 750px;
            width: 550px;
            display: grid;
            gap: 10px;
        
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(6, 1fr);
            grid-template-areas: "one "
            "two"
            "three"
            "four"
            "five"
            "six"
        
        
        }.nav .fa-cart-shopping{
            display: none;
        }
       .nav .fa-magnifying-glass
        {display: none;}
        .nav .fa-user {
            font-size: 20px;
            padding: 10px;
            color: green;
            border: 2px solid green;
            border-radius: 10px;
            display: none;
        }.nav .fa-bars{
            display: flex;
        }.nav {

            width: 100%;
            height: 60px;
            /* border: 2px solid rgb(4, 15, 3); */
            display: flex;
            justify-content: center;
            align-items: center;
          
            /* box-shadow: 10px 10px 62px rgb(46, 68, 87); */
        }
        
    
   
    
    
}@media(min-width:320px)and(max-width:410px){
    .Main {
        flex-wrap: wrap;
        margin-top: 80px;
        padding-top: 30px;
        /* border: 2px solid black; */
        height: 60vh;
        width: auto;
    }
    .Main2{
        flex-wrap: wrap;
       
        padding-top: 30px;
        /* border: 2px solid black; */
        height: 60vh;
        width:auto;
    }.para p{
        font-size: 12px;
    }.mainend p{
        font-size: 9px;
    }.since {
        border-bottom: 2px solid rgb(2, 1, 1);
        width: 200px;
        height: 20px;
        display: flex;
        justify-content: space-around;
    
    }.since .si,.paso{
        font-size: 12px;
       padding-right: 20px;
       padding-top: 3px;
    }.since.lorem{
        font-size: 9px;
    }.end {
        width: auto;
        height: 570px;
        /* border: 2px solid rgb(5, 63, 5); */
       
        display: flex;
        justify-content: center;
        
    
        align-items: center;
        border-radius: 10px;
        background: white;
        flex-wrap: wrap;
    }.mainend {
        /* border: 2px solid rgb(0, 255, 64); */
        width: auto;
        height:auto;
        margin-top: 20px;
        text-align: center;
        padding-top: 20px;
        background-color: rgb(221, 221, 221);
      
    
    }.end .lorem{
        font-size: 10px;
        font-weight: bold;
    }.left,
    .right {
        /* border: 2px solid red; */
        width: 250px;
        height: 280px;
    
    
    }.rev {
        /* border: 2px solid gray; */
        width: 200px;
        height: 90px;
        margin-left: 5px;
    }
    
    .imgs img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
    
    .rev .pa,
    .pb,
    .pc,
    .pd {
        text-align: left;
        font-size: 9px;
        padding-top: 10px;
    }
    
}@media(max-width:1220px){
    .mainend{
         /* border: 2px solid rgb(0, 255, 64); */
        width: auto;
        height: 750px;;
        margin-top: 20px;
        text-align: center;
        padding-top: 20px;
        background-color: rgb(221, 221, 221);

    }.end {
        width: 70%;
        height: 570px;
        /* border: 2px solid rgb(5, 63, 5); */
       
        display: flex;
        justify-content: center;
        
    
        align-items: center;
        border-radius: 10px;
        background: white;
        flex-wrap: wrap;
      
        /* padding-right: 50px; */
    }
}@media(max-width:620px){
    .Main {
        flex-wrap: wrap;
        margin-top: 80px;
        /* padding-top: 30px; */
        /* border: 2px solid black; */
        height: 60vh;
        width: auto;
    }
    .Main2{
        flex-wrap: wrap;
       
        padding-top: 30px;
        /* border: 2px solid black; */
        height: 60vh;
        width:auto;
    }
}@media(max-width:522px){
    .end .lorem{
        font-size: 12px;
        font-weight: bold;
        padding-left: 10px;
    }.end {
        width: 75%;
        height: 570px;
        /* border: 2px solid rgb(5, 63, 5); */
       
        display: flex;
        justify-content: center;
        
    
        align-items: center;
        border-radius: 10px;
        background: white;
        flex-wrap: wrap;
      
        /* padding-right: 50px; */
    }.since {
       
        width: 100%;
        height: 20px;
        display: flex;
        justify-content: space-around;
        font-size: 12px; 
      
    }
}
/* @media(max-width:480px){
    .since {
        border-bottom: 2px solid rgb(2, 1, 1);
        width: 200px;
        height: 20px;
        display: flex;
        justify-content: space-around;
    
    }.since .si,.paso{
        font-size: 12px;
       padding-right: 20px;
       padding-top: 3px;
    }.since.lorem{
        font-size: 9px;
    }
} */